<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>61534785658-4kjb46sedq3g9mnibh98bbn8pmg5ndua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61534785658-4kjb46sedq3g9mnibh98bbn8pmg5ndua</string>
	<key>API_KEY</key>
	<string>AIzaSyCLcWDMXdjnDfrAFI1ldhI-I2bSgLh9Wbg</string>
	<key>GCM_SENDER_ID</key>
	<string>61534785658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GlixenTech.AdForest</string>
	<key>PROJECT_ID</key>
	<string>adforestios</string>
	<key>STORAGE_BUCKET</key>
	<string>adforestios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:61534785658:ios:fc787efc4fd5673a</string>
	<key>DATABASE_URL</key>
	<string>https://adforestios.firebaseio.com</string>
</dict>
</plist>
